* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/courses/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    color: white;
    background: none;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    transition: 0.7s ease all;

}

nav ul li a:hover {
    border-radius: 10px 0px 10px 0px;   
    background-color: white;
    color: #090446;
}


#logo {
    margin: 30px 30px;
    color: white;
}

#heading {
    color: white;
    margin: 30px 30px;
}

.imgAbout {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s ease all;
}

.imgAbout:hover {
    transform: scale(1.1);
}

.infoName {
    margin: 10px 10px;
}

#about {
    text-align: center;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 200px;
    margin: 10px 100px;
    color: white;
}

footer {
    background-color: #090446;
    color: white;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;

}