* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

#main {
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;

}

nav {
    color: white;
    height: 10vh;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    list-style: none;
    
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 10px 30px;
    transition: 0.7s ease all;

}

nav ul li a:hover {
    border-radius: 10px 0px 10px 0px;   
    background-color: white;
    color: #090446;
}


#heading {
    margin: 20px;
}

#logo {
    width: 50px;
    height: 50px;
}

#hero {
   
    height: 92vh;
    
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: white;
}

#hero h1 {
    font-size: 35px;
}
#hero p {
    font-size: 25px;
    margin: 20px 0px;
}

#course {
    font-weight: bold;

}

.btn {
    color: white;
    border: 2px solid white;
    background: none;
    border-radius: 20px;
    padding: 10px 30px;
    font-weight: bold;
    font-size: 22px;
    margin: 0px 20px;
    cursor: pointer;
    transition: 0.5s ease all;
}

.btn:hover {
    background-color: white;
    color: black;
}

.langImg {
    width: 20px;
    height: 20px;
}



.iconImg {
    width: 20px;
    height: 20px;
    margin: 10px;
}


#features {
    display :grid;
    
    grid-template-columns: auto auto;
}

.feature {
    border-radius: 20px;
    width: 70%;
    border: 2px solid black;
    height: 100px;
    margin: 30px;
    padding: 10px;
    cursor: pointer;
    transition: 0.3s ease all;
}

.feature:hover {
    transform: scale(1.06);
}

.figure {
    margin: 20px 0px;
    font-size: 50px;
}
.feature-info {
    display: flex;
    align-items: center;
    
}



#mainNumbers {
    height: 50vh;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url("../img/courses/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    


}

#numbers {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 100px;
    color: white;
}

#Numberheading {
    display: inline-block;
    margin: 40px;
    color: white;
    border-bottom: 3px solid white;
}

.number {
    margin: 10px 40px
}
#head{
    color: white;
    background-color: #090446;
}
footer {
    background-color: #090446;
    color: white;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: bottom;
    
    
}


#comparison {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
table {
    margin: 30px 0px;
}
#comparison table tr {
    padding: 20px 0px;
    align-items: center;
}


table * {
    margin: 10px 0px;
    
}